
body {
    background-color: #f7f7f7;
    font-family: 'Rubik', sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
  }
  
  form {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
  }